<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.cyber.nukleos">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name="me.cyber.nukleos.ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.CrashReportActivity" />
        <meta-data
            android:name="@string/hockey_app_meta_data_name"
            android:value="${HOCKEYAPP_APP_ID}" />

        <service android:name=".services.SensorWorkService" />
    </application>

</manifest>